* {
  font-family: "Yeon Sung", sans-serif;
}
html {
    margin-top:20%;
    margin-bottom:20%;
    margin-left:5%;
    margin-right:5%;
}
.title {
  margin:5%;
  font-size: 7vw;
}
p {
    margin:5%;
}
p, input, .date, .percent{
  font-size: 5vw;
}
/*datepicker*/
button{
  font-size: 3vw;
}
