@font-face {
	font-family: 'NanumSquare';
	src: url('fonts/NanumSquareL.ttf');
}

@font-face {
	font-family: 'NanumSquare';
	src: url('fonts/NanumSquareEB.ttf');
	font-weight: bold;
}

* {
	font-family: 'NanumSquare', Arial, Helvetica, sans-serif;
}

html {
	margin: 10%;
	background-color: #fefefe;
}

.title {
	margin: 3%;
	font-size: 6vw;
	width: 100%;
	font-weight: bold;
	color: #919191;
}

main {
	text-align: center;
	padding: 15px;
}

a {
	text-decoration: none;
	text-align: center;
	display: inline;
}

a:link,
a:visited {
	/*누르기 전, 누른 후*/
	color: #919191;
}

a:hover,
a:active {
	/*마우스 올리기, 클릭*/
	color: #47E6A1;
}

.subtitle {
	margin: 2%;
	font-size: 3vw;
	font-weight: normal;
	color: #AEAEAE;
}

table {
	width: 60%;
	margin: auto;
	text-align: center;
}

p,
input,
button,
.date,
.percent {
	font-size: 4vw;
}

p {
	margin: 0;
	color: #919191;
}

input {
	border-color: rgba(145, 145, 145, 0.66);
	border-radius: 2vw;
	text-align: center;
	padding: 1%;
	margin: 1%;
}

button {
	border-color: rgba(145, 145, 145, 0.66);
	border-radius: 2vw;
}